/* reset */

/* pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Right.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Light.ttf') format('ttf'), url('../font/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Medium.ttf') format('ttf'), url('../font/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Bold.ttf') format('ttf'), url('../font/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}


html { font-size: 62.5%; }
body { opacity: 0; }
* { margin: 0; padding: 0; border: 0; box-sizing: border-box; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); font-family: 'pretendard', 'Montserrat', 'sans-serif'; font-size: 1.6rem; word-break: keep-all !important; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-font-smoothing:antialiased; } 
button { background: none; border: 0; background-color: rgba(0, 0, 0, 0); } 
em , address { font-style: normal; } 
a { text-decoration: none; color: inherit; } 
ul , li { list-style: none; } 
input { background-color: rgba(0, 0, 0, 0); } 
strong { display: block; }
em { display: inline-block; }
h2 em { font-weight: 900; } 
p em, strong em, span em, b em, li em { font-weight: 700; } 
/* reset */

body { overflow-x: hidden; --bg-color: #fff; background-color: var(--bg-color); }